<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="db" providerName="System.Data.SqlClient" connectionString="Server=localhost;Database=sc;TrustedConnection=true;Application Name=tol"/>
    <add name="db-prod" providerName="System.Data.SqlClient" connectionString="Server=proddb;Database=sc;IntegratedSecurity=true;Application Name=tol"/>
  </connectionStrings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
